.DS_Store
# 忽略环境层数据及中间结果（可分批去掉）
env_layers_asc/
env_layers_tif/
envir/
cor_analysis/
model_output/
output_Amlanguida/
output_Azdexteroporum/

# 只上传 occurrences 里的 csv
cleaned_points/*.dbf
cleaned_points/*.shp
cleaned_points/*.shx
cleaned_points/*.prj

# macOS/系统文件
.DS_Store

# Jupyter/临时缓存
*.ipynb_checkpoints
# R/临时缓存
__pycache__/
.Rproj.user/